.header {

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    height: 30px;

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: 2000;
}

.header h2 {

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

    margin: 0;

    color: white;

    font-size: 18px;

    font-weight: 700;
}

.menu-btn {

    position: absolute;

    left: 10px;

    top: 6px;

    width: 28px;

    height: 28px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    color: white;

    font-size: 14px;

    background:
        linear-gradient(
            135deg,
            #06b6d4,
            #2563eb
        );

    transition: all 0.25s ease;
}

.menu-btn:hover {

    background:
        linear-gradient(
            135deg,
            #10b981,
            #059669
        );

    transform: scale(1.08);

    box-shadow:
        0 0 12px rgba(16,185,129,0.5);
}

.window-controls {

    position: absolute;

    right: 12px;

    top: 4px;

    display: flex;

    gap: 6px;
}

.window-btn {

    width: 28px;

    height: 28px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 14px;

    color: white;

    background:
        linear-gradient(
            135deg,
            rgba(255,255,255,0.18),
            rgba(255,255,255,0.08)
        );

    transition: all 0.25s ease;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.25);
}

.window-btn:hover {

    transform: scale(1.28);

    background:
        linear-gradient(
            135deg,
            #48a8ed,
            #1ae83c
        );
}

.close-btn:hover {

    background:
        linear-gradient(
            135deg,
            #ef4444,
            #dc2626
        );
}

.menu-btn,
.window-controls,
.window-btn {

    -webkit-app-region: no-drag;
}
.menu-btn:hover {

    background:
        linear-gradient(
            135deg,
            #10b981,
            #059669
        );

    color: white;
}