.sidebar {
    position: fixed;
    top: 60px;
    left: 0;

    width: 240px;
    height: 100vh;

    background: linear-gradient(
        180deg,
        #0f172a,
        #1e1b4b
    );

    backdrop-filter: blur(12px);

    overflow: hidden;

    z-index: 1500;

    padding: 20px 14px;

    box-shadow: 12px 0 35px rgba(0,0,0,0.45);

    border-right: 2px solid rgba(99,102,241,0.4);
}